.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.time-control {
  // background-color: bisque;
  width: 50vw;
  display: flex;
  align-items: center;
  input {
    width: 100%;
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer;
    // padding: 1rem 2rem;
  }
  p {
    padding: 1rem;
  }
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  // background-color: black;
}
input[type='range']::-moz-range-thumb {
  background: transparent;
  border: none;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
}
.track {
  position: relative;
  background-color: lightblue;
  width: 100%;
  height: 1rem;
  overflow: hidden;
  border-radius: 20px;
}
.animate-track {
  background-color: rgb(204, 204, 204);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translateX(0%);
}
.play-control {
  // background-color: aqua;
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  img {
    cursor: pointer;
  }
}
.icon {
  height: 40px;
}
@media screen and (max-width: 768px) {
  .time-control {
    width: 90vw;
  }
  .play-control {
    width: 60vw;
  }
}
